li#nav_bar {
    display: inline;
    opacity: 1;
    padding-left: 5px;
    padding-right: 5px;
    border-right: 1px solid black;
}

li#nav_bar:hover {
background-color: red;

}
a:visited{
    color: green;
    
}
a:active { 
    color: yellow;
   
}
ul#nav_bar {
    
    background: rgba(0, 255, 255, 0.4);
    margin: 15px;
    padding: 0;
    list-style-type: none;
    text-align: left;
}

div#myBackground {
    position: absolute;
    background-color: aqua;
    
}
.bg-white-transparent {
    background: rgba(255, 255, 255, 0.4);
}

.btn-danger
{

 
 background-color: red !important;
  font-weight: bold;
  color: #fff !important;
  
}
/* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add an active class to highlight the current page */
  .active {
    background-color: #4CAF50;
    color: white;
  }
  
  /* Hide the link that should open and close the topnav on small screens */
  .topnav .icon {
    display: none;
  }